<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Students</title>
</head>
<body>
<h2>All Students</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Options</th>

    </tr>
  </thead>
  <tbody>
    <tr th:each="student  : ${students}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.userName}"></td>
      <td>
        <a th:href="@{/students/student/{id}(id=${student.id})}">Show</a>
<!--        <form th:action="@{'/delete/'+${student.id}}" method="post">-->
        <form th:action="@{/students/delete/{id}(id=${student.id})}" method="post">

        <button >Delete</button>
        </form>

      </td>
    </tr>
  </tbody>
</table>

</body>
</html>