<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Student</title>
</head>
<body>
<h2>Edit Student</h2>
<form th:object="${student}" th:action="@{/students/edit/{id}(id=${student.id})}" method="post">
 <!--error vdo13 around 7mn-->
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Username" th:field="${student.userName}" required>
  </div>
  <div>
    <label for="first_name">First name</label>
    <input type="text" id="first_name" name="first_name" placeholder="Firstname" th:field="${student.firstName}" required>
  </div>
  <div>
    <label for="last_name">Lastname</label>
    <input type="text" id="last_name" name="last_name" placeholder="Last name" th:field="${student.lastName}" required>
  </div>
  <div>
    <label for="gender">Gender</label>
    <input type="text" id="gender" name="gender" placeholder="Gender" th:field="${student.gender}" required>
  </div>
  <div>
    <label for="department">Department</label>
    <input type="text" id="department" name="department" placeholder="Department" th:field="${student.department}" required>
  </div>
  <button type="submit">Update</button>

</form>
</body>
</html>