<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Student</title>
</head>
<body>
<h2>Student Information</h2>
<table>
  <tbody>
  <tr>
    <td><strong>ID</strong></td>
    <td th:text="${student.id}"></td>
  </tr>
  <tr>
    <td><strong>Username</strong></td>
    <td th:text="${student.userName}"></td>
  </tr>
  <tr>
    <td><strong>First Name</strong></td>
    <td th:text="${student.firstName}"></td>
  </tr>
  <tr>
    <td><strong>Last Name</strong></td>
    <td th:text="${student.lastName}"></td>
  </tr>
  <tr>
    <td><strong>Gender</strong></td>
    <td th:text="${student.gender}"></td>
  </tr>
  <tr>
    <td><strong>Department</strong></td>
    <td th:text="${student.department}"></td>
  </tr>
  </tbody>

</table>
<a th:href="'/students/edit/'+${student.id}">Edit Info</a>
</body>
</html>